{% extends "base.html" %}
{% block content %}

<h2> Your History</h2>


<div class="card">
    <h3>Resume Analyzer</h3>
    {% for r in reports %}

    <div class="red">
        {% if r.result.error %}
        <p style="color: red;">Error : {{r.result.error}}</p>
        {% endif %}

        <h2>Match Score: {{ r.result.overall_match }}</h2>
        <p><strong>Summary:</strong> {{ r.result.summary }}</p>

        <hr>

        <h3>Skills</h3>
        <ul>
            {% for s in r.result.get("key_strengths",[])%}
            <li>{{s}}</li>
            {% endfor %}

        </ul>

        <h3>Missing Skills</h3>
        <ul>
            {% for s in r.result.get("missing_goals",[])%}
            <li>{{s}}</li>
            {% endfor %}

        </ul>

        <h3>Suggested Changes</h3>
        <ul>
            {% for change in r.result.get("suggested_changes", []) %}
            <li>{{ change }}</li>
            {% endfor %}
        </ul>


        <h3>Roadmap for {{role}}</h3>
        <ul>
            {% for s in r.result.get("roadmap",[])%}
            <li>{{s}}</li>
            {% endfor %}

        </ul>

        <h3>Interview Questions</h3>
        <ul>
            {% for s in r.result.get("interview_questions",[])%}
            <li>{{s}}</li>
            {% endfor %}

        </ul>




    </div>
    {% endfor %}
</div>


{% endblock %}