{% extends "base.html" %}

{% block content %}

    <div class="auth-container">
        <div class="auth-card">
            <h2>Work hard, Stay Focused</h2>
            <h2>Welcome Again</h2>
            <p class="sub-text">
                Login to access your account
            </p>

            <form method = "POST">
                <input type="email" name = "email" placeholder="Enter your Email" required>
                <input type="password" name = "password" placeholder = "Enter your password" required>
                <button type = "submit">Login</button>
            </form>
            <p class = "switch-auth"> Don't have an account ?
                <a href="/signup" class = "switch-link">Sign up here</a>
            </p>
        </div>
    </div>


{% endblock %}